body {
  font-family: helvetica;
  text-align: center;
}

.picture {
  background-image: url("broadway/resources/images/background.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav {
  font-size: 18px;
}

h2 {
  font-size: 32;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.white {
  color: white;
  background-image: url("broadway/resources/images/background.png");
}

footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

.smaller {
  font-size: 11px;
}
